<form>
    <div class="form-group row">
        Gender
        <div class="col-md-10">

            <input type="radio"  name="firstname" value="male">
            <label style="margin-left: 10px">Male</label>
             <br />
            <input type="radio"  name="firstname" value="male">
            <label style="margin-left: 10px">Female</label>
        </div>
        Size
         <div class="col-md-10">
             <select style="margin-left: 10px">
                 <option>Small</option>
                 <option>Medium</option>
                 <option>Large</option>
                 <option>Extra Large</option>
             </select>
         </div>
        <button style="margin-top: 30px" class = btn-primary>Apply</button>
    </div>

</form>
